.header {
  background-color: #1e1e1e;
  padding: .5em;
  display: flex;
  h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: lato;
    font-size: 1.6em;
  }
  .home-button {
    display: flex;
    top: 10px;
    margin: 1em 0;
  }
}
