<div *ngIf="!expanded" class="card-collapsed" (click)="toggleExpanded()">
  <b class="text">{{index+1}}. {{hiscore.displayName}} - {{hiscore.gains?.total }} points</b>
</div>
<div *ngIf="expanded" class="card-expanded" (click)="toggleExpanded()">
  <b class="text">{{index+1}}. {{hiscore.displayName}} - {{hiscore.gains?.total }} points</b>
  <ul *ngIf="hiscore.gains">
    <li>
      beginners: {{hiscore.gains.beginner}} ({{hiscore.gains.beginner * CLUE_WEIGHTS.beginner}} points)
    </li>
    <li>
      easies: {{hiscore.gains.easy}} ({{hiscore.gains.easy * CLUE_WEIGHTS.easy}} points)
    </li>
    <li>
      mediums: {{hiscore.gains.medium}} ({{hiscore.gains.medium * CLUE_WEIGHTS.medium}} points)
    </li>
    <li>
      hards: {{hiscore.gains.hard}} ({{hiscore.gains.hard * CLUE_WEIGHTS.hard}} points)
    </li>
    <li>
      elites: {{hiscore.gains.elite}} ({{hiscore.gains.elite * CLUE_WEIGHTS.elite}} points)
    </li>
    <li>
      masters: {{hiscore.gains.master}} ({{hiscore.gains.master * CLUE_WEIGHTS.master}} points)
    </li>
  </ul>
</div>
