<!-- <div *ngIf="!expanded" class="card-collapsed" (click)="toggleExpanded()">
  <b class="text">{{index+1}}. {{hiscore.displayName}} - {{hiscore.clueGains?.total }} points</b>
</div>
<div *ngIf="expanded" class="card-expanded" (click)="toggleExpanded()">
  <b class="text">{{index+1}}. {{hiscore.displayName}} - {{hiscore.clueGains?.total }} points</b>
  <ul *ngIf="hiscore.clueGains">
    <li>
      beginners: {{hiscore.clueGains.beginner}} ({{hiscore.clueGains.beginner * CLUE_WEIGHTS.beginner}} points)
    </li>
    <li>
      easies: {{hiscore.clueGains.easy}} ({{hiscore.clueGains.easy * CLUE_WEIGHTS.easy}} points)
    </li>
    <li>
      mediums: {{hiscore.clueGains.medium}} ({{hiscore.clueGains.medium * CLUE_WEIGHTS.medium}} points)
    </li>
    <li>
      hards: {{hiscore.clueGains.hard}} ({{hiscore.clueGains.hard * CLUE_WEIGHTS.hard}} points)
    </li>
    <li>
      elites: {{hiscore.clueGains.elite}} ({{hiscore.clueGains.elite * CLUE_WEIGHTS.elite}} points)
    </li>
    <li>
      masters: {{hiscore.clueGains.master}} ({{hiscore.clueGains.master * CLUE_WEIGHTS.master}} points)
    </li>
  </ul>
</div> -->

<!-- <div *ngIf="!expanded" class="card-collapsed" (click)="toggleExpanded()">
  <b class="text">{{index+1}}. {{hiscore.displayName}} - {{hiscore.gains?.total }} points</b>
</div>
<div *ngIf="expanded" class="card-expanded" (click)="toggleExpanded()">
  <b class="text">{{index+1}}. {{hiscore.displayName}} - {{hiscore.gains?.total }} points</b>
  <ul *ngIf="hiscore.gains">
    <li>
      Vardorvis: {{hiscore.gains.vardorvis}} ({{hiscore.gains.vardorvis * DT2_WEIGHTS.vardorvis}} points)
    </li>
    <li>
      Duke Sucellus: {{hiscore.gains.duke_sucellus}} ({{hiscore.gains.duke_sucellus * DT2_WEIGHTS.duke_sucellus}} points)
    </li>
    <li>
      The Leviathan: {{hiscore.gains.the_leviathan}} ({{hiscore.gains.the_leviathan * DT2_WEIGHTS.the_leviathan}} points)
    </li>
    <li>
      The Whisperer: {{hiscore.gains.the_whisperer}} ({{hiscore.gains.the_whisperer * DT2_WEIGHTS.the_whisperer}} points)
    </li>
  </ul>
</div> -->
