<div class="title">
    <h2>{{title}}</h2>
  </div>
  <p-toast></p-toast>
  <div class="button-container">
    <button (click)="updatePlayers()" [disabled]="updating">Update players</button>
  </div>
   <p-table [value]="hiscores" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" [rows]="10" [loading]="!hiscores">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="displayName">Player<p-sortIcon field="displayName"></p-sortIcon></th>
            <th pSortableColumn="gains.total">Total Points<p-sortIcon field="gains.total"></p-sortIcon></th>
            <th *ngFor="let metric of metrics" [pSortableColumn]="'gains.' + metric.name">{{formatTitle(metric.name)}}<p-sortIcon [field]="'gains.' + metric.name"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hiscore>
        <tr>
            <td>{{ hiscore.displayName }}</td>
            <td>{{ formatNumber(hiscore.gains?.total) }}</td>
            <td *ngFor="let metric of metrics">{{hiscore.gains[metric.name]}}</td>
        </tr>
    </ng-template>
</p-table>