<div class="header">
    <div class="title">
        <a [href]="'https://wiseoldman.net/competitions/' + competitionId" target="_blank">
            <h2>{{title}}</h2>
        </a>
    </div>
    <div class="button-container">
        <button (click)="openUpdatePlayersModal()" [disabled]="updating">Update all players</button>
    </div>
</div>
<p-toast></p-toast>
<!-- BRACKET FILTER -->
<p-floatLabel>
    <p-dropdown *ngIf="brackets" [options]="brackets" [(ngModel)]="bracketFilter" optionLabel="name"
        placeholder="Select a Bracket" (onChange)="onBracketSelection($event)" [showClear]="true"
        (onClear)="clearBracketFilter()" id="bracket-filter" styleClass="ml-4">
    </p-dropdown>
    <label for="bracket-filter" class="ml-4">Bracket filter</label>
</p-floatLabel>
<br>
<p-table #dt [value]="filteredHiscores" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5,10,25,50]"
    [paginator]="true" [rows]="10" [loading]="!hiscores.length">
    <ng-template pTemplate="header">
        <tr>
            <th>Position
            </th>
            <th>Category
                <i class="pi pi-filter filter-btn" (click)="showCategoryFilter($event)"></i>
                <p-dialog #categorydialog [(visible)]="categoryFilterVisible" [draggable]="false" [resizable]="false">
                    <p-dropdown [(ngModel)]="categoryFilter" [options]="categoryOptions"
                        (onChange)="onCategoryFilterChange($event)" [showClear]="true" placeholder="Select a category"
                        appendTo="body"></p-dropdown>
                </p-dialog>
            </th>
            <th>Player
                <i class="pi pi-filter filter-btn" (click)="showPlayerNameFilter($event)"></i>
                <p-dialog #playernamedialog [(visible)]="playerNameFilterVisible" [draggable]="false"
                    [resizable]="false">
                    <input [(ngModel)]="playerNameFilter" pInputText type="text"
                        (ngModelChange)="onPlayerNameFilterChange($event)" placeholder="Player name">
                </p-dialog>
            </th>
            <th pSortableColumn="gains.total">Total Points<p-sortIcon field="gains.total"></p-sortIcon></th>
            <th *ngFor="let metric of metrics" [pSortableColumn]="'gains.' + metric.name">
                {{formatTitle(metric.name)}}<p-sortIcon [field]="'gains.' + metric.name"></p-sortIcon></th>
            <th>Last Updated</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hiscore>
        <tr>
            <td>{{ hiscore.position }}</td>
            <td><img [src]="'assets/icons/'+ hiscore.category +'.png'"></td>
            <td>{{ hiscore.displayName }}</td>
            <td>{{ formatNumber(hiscore.gains?.total) }}</td>
            <td *ngFor="let metric of metrics">{{hiscore.gains[metric.name]}}</td>
            <td>
                {{ getLastUpdatedDuration(hiscore)}}
            </td>
            <td>
                <i *ngIf="!hiscore.updating" class="pi pi-refresh refresh-btn" (click)="updatePlayer(hiscore)"></i>
                <i *ngIf="hiscore.updating" class="pi pi-refresh pi-spin"></i>
            </td>
        </tr>
    </ng-template>
</p-table>