<div class="homepage">
    <form [formGroup]="form">
        <div class="input">
            <label for="competitionId"><b>Competition ID</b></label>
            <p-inputNumber inputId="competitionId" formControlName="competitionId"></p-inputNumber>
        </div>
        <div class="headers grid">
            <h3 class="col-4">Metrics</h3>
            <h3 class="col-6">Weights</h3>
        </div>
        <div formArrayName="metrics" class="metrics grid">
            <div *ngFor="let metricForm of metrics.controls; let i = index">
                <div class="metric-row" [formGroupName]="i">
                    <p-dropdown [options]="metricOptions" placeholder="Select a Metric" [group]="true" formControlName="name" class="col-4" [style]="{'width': '100%'}" emptyFilterMessage="No metric found." (onFilter)="onFilter($event)">
                        <ng-template let-group pTemplate="group">
                            {{group.label}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{formatTitle(item)}}
                        </ng-template>
                        <ng-template let-item pTemplate="selectedItem">
                            {{formatTitle(item)}}
                        </ng-template>
                    </p-dropdown>
                    <div class="p-inputgroup weight">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-wrench"></i>
                        </span>
                        <p-inputNumber mode="decimal" formControlName="weight" [minFractionDigits]="0" 
                        [maxFractionDigits]="3" ></p-inputNumber>
                    </div>
                    <p-button icon="pi pi-trash" (onClick)="onDeleteMetric(i)"></p-button>
                </div> 
            </div>
            <p-button icon="pi pi-plus" (onClick)="onAddMetric()"></p-button>
        </div>
    </form>
    <p-button label="Submit" (onClick)="onSubmit()"></p-button>
</div>
